.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: #0077b6; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #0077b6, #7209b7);
}
.header {
  padding-top: 1rem;
  text-align: center;
  font-size: 3rem;
}
.bio {
  margin: auto;
  width: 36rem;
  text-align: center;
  font-size: 1.4rem;
}
.bio2 {
  margin-top: 0.5rem;
  margin: auto;
  width: 36rem;
  text-align: center;
  font-size: 1.2rem;
}
.input {
  display: flex;
  margin: auto;
  width: 20rem;

  margin-top: 2rem;
}
.waveButton {
  width: 6rem;
  height: 2rem;
}
.waves {
  margin: auto;
  background-color: OldLace;
  padding: 8px;
  border-radius: 10px;
  margin-top: 2rem;
  width: 30rem;
}
