.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: #0077b6; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #0077b6, #7209b7);
}
.header {
  padding-top: 1rem;
  text-align: center;
  font-size: 3rem;
}
.bio {
  margin: auto;
  width: 36rem;
  text-align: center;
  font-size: 1.4rem;
}
.bio2 {
  margin-top: 0.5rem;
  margin: auto;
  width: 36rem;
  text-align: center;
  font-size: 1.2rem;
}
.input {
  display: flex;
  margin: auto;
  width: 20rem;

  margin-top: 2rem;
}
.inputtarget {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
}

.connectwallet {
  display: flex;
  margin: auto;
  margin-top: 2rem;
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.waves {
  margin: auto;
  background-color: OldLace;
  padding: 8px;
  border-radius: 10px;
  margin-top: 2rem;
  width: 30rem;
}
.buttonwaves {
  display: flex;
  margin: auto;
  margin-top: 2rem;
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
